body, html {

  width: 100%;
  height: 100%;
  font-family:  'Open Sans: 300', 'Source Sans Pro',"HelveticaNeue-Light" ,  "Helvetica", Arial, sans-serif;
}
}

img, embed, object, video { max-width: 100%;}

a {
   color: #BD9F86;
   text-decoration: underline;
}

hr { 
    display: block;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: #F2F2F2;
    color: #F2F2F2;
} 

h1 {
  color: #BD9F86;
  font-size: 1.6em;
}

#glowna_tresc {
  order: 1;
}

#stopka {
  order: 2;
}


#naglowek1 {
  order: 0;
  width: 100%;
  font-size: 5em;
  text-align: center;
  background-color:white;
  color: #BD9F86;
  text-decoration: none;
  font-family:  'Open Sans: 300', 'Source Sans Pro',"HelveticaNeue-Light" ,  "Helvetica", Arial, sans-serif;
}



#naglowek1 a {

  color: #BD9F86;
  text-decoration: none;
}




.container {
		width: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
      }


@media screen and (max-width:500px) {
  .nav {
    width: 100%;
    order: 2;
   }

  .kolumna {
    width: 100%;
    order 1;
  } 

  #tresc {
    width: 100%;
    order: 0;
  }
}


@media screen and (min-width:501px) {
.nav {
  width: 20%;
    order: 0;
}

  .kolumna {
   width: 2%;
   background-color:  #F2F2F2;
   order 1;
  } 

  #tresc {
    width: 68%;
    order: 2;
  }

}

@media screen and (min-width:600px) {
  #main {
    margin-left: 10px;
    margin-right: 10px;
  }

}
.stopka {

  font-size: 0.8em;
  width: 100%;
  background-color: #F2F2F2;
  margin-top: 0.25em;
}

.kolumna {
  background-color: #F2F2F2;
}


.przycisk {
  font-size: 1.4em;

  text-align: center;
  background-color: #BD9F86;
  color: white;
  font-family:  'Open Sans: 300', 'Source Sans Pro',"HelveticaNeue-Light" ,  "Helvetica", Arial, sans-serif;   
  margin: 0.25em;
  margin-left: 1em;
  padding: 0.25em;
}

.small_form, .big_form {
  margin-left: 10px;
  margin-right: 10px;
  width: 40%;
}

.form_vraper {
  width: 100%
}

.big_form {
  height: 30em;
  width: 80%;

  display: block;
}

#main {
	width: 100%;
	background-color: white;	
}


#tresc {
  padding-left: 2em;
  padding-right: 2em;
}